.api-title {
	border: 1px solid #ccc;
	padding: 5px 10px;
	background-color: #e6e6e6;
	cursor: pointer;
	vertical-align: middle;
}

.active {
	border-bottom: none
}

.api-title > span{
	display: inline-block;
	color: white;
	border: 0.5px solid #ccc;
	padding: 0px;
	width: 70px;
	text-align: center;
}

span.post{
	background-color: #10a54a;
}
span.get{
	background-color: #0f6ab4;
}
span.delete{
	background-color: #a41e22;
}
span.put{
	background-color: #fca130;
}


.api-detail {
	display: none;
	border: 1px solid #ccc;
	padding: 20px 20px;
	background-color: #e6e6e6;
	border-top: none;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 10px;
	transition: 0.3s;
	border-right: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.api-detail-block {
	margin: 10px 0px;
	border: 1px solid #ccc;
	background: white;
	min-height: 30px;
	padding: 5px 10px;
	line-height: 30px;
}

a.api-passed:hover{
	text-decoration: underline !important;
}

a.api-failed:hover{
	text-decoration: underline !important;
}

a.api-failed{
	color: red;
}

.wrapper{
background-color: #e6e6e6;
}