<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.finstro.automation.test.regression.SignInTest"/>
      <class name="com.finstro.automation.test.regression.HomeTransactionBillTest"/>
      <class name="com.finstro.automation.test.regression.SettingsProfileTest"/>
      <class name="com.finstro.automation.test.regression.SettingsApprovalBankUploadTests"/>
      <class name="com.finstro.automation.test.regression.SettingBusinessDetailsTests"/>
      <class name="com.finstro.automation.test.regression.SettingsDebtCreditCardsTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
